<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirRun"
        tools:targetApi="31">

        <!-- LoginActivity sebagai entry point -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity tanpa intent filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- JoggingActivity -->
        <activity
            android:name=".JoggingActivity"
            android:exported="true" />

        <!-- AchievementActivity -->
        <activity
            android:name=".AchievementActivity"
            android:exported="true" />

        <!-- ProfileActivity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwlWLhPKfflMwn5bHaf8AZSc3zFsGGGiQ" />

    </application>

</manifest>
